.header {
    background-color: transparent;
    color: white;
}

.header nav {
background-color: transparent;
margin-right: 15%;
}

.navLink {
    margin: 0 5% 0 0;
}

.navList {
    /* background-color: transparent; */
    justify-content: right;
    display: flex;
    list-style: none;
}